body {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	height: 740px;
	background: -webkit-linear-gradient(bottom,#90C8AC,#F5F0BB); 
	font-family: sans-serif;
	align-items: center;
}

.masuk {
	background-color: #fff;
	width: 350px;
	padding: 50px;
	text-align: center;
	box-sizing: border-box;
	border-radius: 15px;
}

.masuk h2 {
	margin: 0 0 20px;
	width: 100%;
	margin-bottom: 25px;
}

.masuk .input-grup {
	position: relative;
	width: 100%;
	margin-bottom: 25px;
}

.masuk .input-grup input {
	height: 50px;
	width: 100%;
	padding: 0 20px;
	box-sizing: border-box;
	font-size: 15px;
	border-radius: 10px;
	border-radius: 3px solid black;
}

.masuk .input-grup span {
	position: absolute;
	top: 12px;
	left: 20px;
	padding: 0px;
	text-transform: capitalize;
	background-color: #fff;
	transition: 0.5;
	font-size: 12px;
}

.masuk .input-grup input:focus ~ span,
.masuk .input-grup input:valid ~ span {
	top: -12px;
	left: 20px;
	font-size: 12px;
	background-color: #73A9AD;
	padding: 2px 4px;
	border-radius: 5px;
	border: 1px solid #000;
}

.masuk .input-grup a{	
	background-color: #94B49F;
	border: none ;
	color: black;
	font-weight: bold;
	font-family: arial;
	cursor: pointer;
	width: 50%;
	height: 50px;
	transition: 0.21s;
	padding: 10px 25px 10px 25px;
	box-shadow: 0px 1px 8px #000;
	box-sizing: border-box;
}

.masuk .input-grup a:hover {
	box-shadow: 0px 1px 18px #ffffff;
	border-radius: 10px;
}

.tbl {
	background: #7A86B6;
	border-radius: 15px;
	padding: 10px 35px 10px 35px;
	color: #000;
	cursor: pointer;
	font-weight: bold;
	position: absolute;
	left: 95%;
	transform: translate(-80%, -53%);
	margin-top: 180px;
	box-shadow: 0px 1px 8px #000;
	transition: 0.21s;
	box-sizing: border-box;
	border: none;
}

.tbl:hover {
	box-shadow: 0px 1px 18px #ffffff;
	border-radius: 10px;
}